SECRET_KEY=replace-with-a-random-secret
MAX_UPLOAD_MB=100
RAW_MAX_UPLOAD_MB=1024
STANDARD_BATCH_MAX_UPLOAD_MB=1000
RAW_BATCH_MAX_UPLOAD_MB=4096
ORIGINAL_DIR=/srv/end-photography/originals
STAGING_DIR=/srv/end-photography/staging
PUBLIC_PHOTO_DIR=/var/www/end.photography/photos
DATABASE=/srv/end-photography/gallery.db
MANIFEST=/var/www/end.photography/data/gallery.json
MAGICK_BIN=/usr/bin/magick
EXIFTOOL_BIN=/usr/bin/exiftool
RAW_UPLOAD_ORIGIN=https://sites-hub.prairiedog-sole.ts.net
